<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>商城首页</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
	<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
	<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/swiper.min.js"></script>
	<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/city-picker.min.js"></script>		
</head>
<body>

<!-- 搜索框 -->
{include file="public:search" /}

<!-- 轮播图 -->
{include file="public:carousel" /}


<!-- 九宫格 -->
<div class="weui-grids">
	  <a href="/public/mobile/Category/index" class="weui-grid js_grid">
	    <div class="weui-grid__icon">
	      <img src="" alt="">
	    </div>
	    <p class="weui-grid__label">
	      全部分类
	    </p>
	  </a>
	  <a href="" class="weui-grid js_grid">
	    <div class="weui-grid__icon">
	      <img src="" alt="">
	    </div>
	    <p class="weui-grid__label">
	      购物车
	    </p>
	  </a>
	  <a href="" class="weui-grid js_grid">
	    <div class="weui-grid__icon">
	      <img src="" alt="">
	    </div>
	    <p class="weui-grid__label">
	      我的订单
	    </p>
	  </a>
</div>


<!-- 热卖商品 -->



<!-- 新品 -->



<!-- tabbar -->
{include file="public:tabbar" /}



<script>
	

	$(function(){

		
	});


</script>


</body>
</html>